body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #b6b2b2;
    

}

.header {
    height: 100vh;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: top;

}

.h1-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;


}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.heading-primary-main{
   display: block;
   font-size: 45px;
   font-weight: 400;
   letter-spacing: 10px; 
}

.heading-primary-sub{
    display: block;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 4.5px;
} 
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translate(-1px);
}

.btn-white {
    background-color: #fff;
    color: #b6b2b2;
}