* {
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --grGold: #D1A103;
    --off-white1: #fffcfc;
    --myGray: #555555;
    --logoBlue: #0B173D;
}
 
.navigation_checkbox {
    display: none;
}

.navigation_button {
    background-color: #fffcfc;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem #555555, .1;  

} 
.navigation-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
    z-index: 1000;

    /* transform: scale(80); */
}
span {
    margin-right: 1.5rem;
    display: inline-block;
}
.navigation-checkbox:checked ~ .navigation-background {
    transform: scale(80);
}   

 .navigation_nav {
    height: 100vh;
    /* width: 100%; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0; 
}

.navigation_list{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(50%, 50%);
    list-style: none;
    text-align: center;


}
.navigation_item {
    margin: 1rem; 

}

.navigation_link {
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: var(--off-white1);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg,  #5494CA 0%,  #5494CA 50%,  #fffcfc 50%);
    background-size: 200%;
    transition: all .4s;
} 



.header { 
    height: 95vh;
    background-color: #0B173D;
    
    background-size: cover;
    background-position: top;
    position: relative;
}

.hi-box {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50, -50%);
    text-align: center;
}

.heading-primary {
    color: #D1A103;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 10px;
    margin-bottom: 8px;

}

.heading-primary-main{
    display: block;
    color: #D1A103;
    font-size: 20px;
    font-weight: 250;
    letter-spacing: 4.2px;
    margin-bottom: 8px;
}

.heading-primary-sub{
    display: block;
    color: #D1A103;
    font-size: 20px;
    font-weight: 250;
    letter-spacing: 5px;
    margin-bottom: 15px;

}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(-1px);

}
.btn-hired {
    background-color: transparent;
    border: 1px solid #D1A103;
    color: #D1A103;
    font-size: 14px;
}
   
.heading-secondary {    
    font-size: 60px;
    font-weight: 200;
    color: #555555;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    padding-top: 60px;  
    margin-bottom: 60px;
    margin-top: 60px;
    display: block;
}
    .border-bottom {
    display: block; 
    margin: 0 auto; 
    width: 30%; 
    padding-top: 20px; 
    border-bottom: 1px solid red;
    }
 /* .heading-secondary:after {
    content: "";This is necessary for the pseudo element to work. 
    display: block; This will put the pseudo element on its own line.
    margin: 0 auto; This will center the border.
    width: 50%; Change this to whatever width you want.
    padding-top: 20px; This creates some space between the element and the border.
    border-bottom: 1px solid #555555; This creates the border. Replace black with whatever color you want.
}  */

.scene {
    width: 469px;
    height: 640px;
    margin: auto;
    perspective: 600px;
}
  
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #555555;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    line-height: 0.5in;
    padding: 20px;
    backface-visibility: hidden;
  }
  
.card__face--front {
    background: #ffffff;
  }
  
.card__face--back {
    background-image: url(../images/headShot.JPG);
    transform: rotateY(180deg);
  }
  .btn
  .btn-aboutMe {
    background-color: #555555;
    border-radius: 30px;
    color: var(--off-white1);
    font-size: 18px;
    font-family: Josefin;
    padding: 5px 10px;
    text-decoration: none;
  }

  .paragraph {
    font-size: 25px;  
    line-height: 0.5in;
    font-weight: lighter;
    text-align: center;
}

.skills {
    display: inline-block;
    text-align: center;
    padding: 80px;
    margin-bottom: 70px;
}

.paragraph-skillset {
    font-size: 25px;
    line-height: 0.5in;
    font-weight: lighter;
    margin-left: 60px;
    margin-right: 60px;
}

.image-1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    background-color: #0B173D;
}

.footer-contact {
 margin-top: 145px;
 font-size: 24px;
 color: var(--grGold);
}

.email {
    text-decoration: none;
    color: var(--grGold);
}

.footer-social {
    margin-top: 145px;
    margin-right: 20px;
    font-size: 24px;
    color: var(--grGold);

}






    









